
.form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.form input{
    padding: 5px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top:30px
}

.buttonOk{
    background-color: rgb(9, 92, 9);
}

.buttonNotOk{
    background-color: rgb(130, 21, 21);
}